.logo_items {
  margin: 20px;
  margin-bottom: 40px;
  padding-right: 20px;
  color: var(--color-text-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.poppins_medium {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
}

.logo_items:active {
  transform: translateY(1px) scale(1.0002);
  filter: drop-shadow(0 2px 6px #4a75c056);
  color: var(--color-text-primary);
}
.logo_items svg {
  transition: transform 1s ease;
}
