.body {
  display: flex;
  height: 100vh;
  background-color: var(--color-background-first);
  font-family: "Poppins", sans-serif;
  color: var(--color-text-primary);
}

.picture,
.form {
  flex: 1;
}

.picture {
  background: url("../../shared/UI/img/bs.png") center / cover no-repeat;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transform: scaleX(-1);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px;
}

.card {
  width: 100%;
  max-width: 420px;
}
