.styled {
  border: 0;
  width: 100%;
  line-height: 1;
  padding: 12px 20px;
  font-size: 18px;
  text-align: left;
  color: var(--color-primary);
  background-color: var(--color-primary);
  border-radius: 8px;
  transition:
    background-color 0.15s ease,
    color 0.15s ease,
    transform 0.1s ease;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-text-secondary);
}

.styled:hover {
  color: var(--color-text-primary);
  background: var(--color-focus);
  transform: translateY(1px);
}

.styled:active {
  color: var(--color-text-primary);
}

.styled svg {
  stroke: currentColor;
}

.styled:hover svg {
  stroke: currentColor;
}

.styled:active svg {
  stroke: currentColor;
}
