.styled {
  width: fit-content;
  line-height: 1;
  padding: 12px 20px;
  font-size: 18px;
  text-align: left;

  background: transparent;
  color: var(--color-disabled);
  border: 1px solid var(--color-disabled);
  padding: 6px 16px;
  border-radius: 8px;
  cursor: pointer;

  border-radius: 8px;
  transition:
    background-color 0.15s ease,
    color 0.15s ease,
    transform 0.1s ease;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.styled:hover {
  background: var(--color-error);
  border: 1px solid var(--color-error);
  color: var(--color-text-primary);
}

.styled:active {
  color: var(--color-text-primary);
}

.styled svg {
  stroke: currentColor;
}

.styled:hover svg {
  stroke: currentColor;
}

.styled:active svg {
  stroke: currentColor;
}
