.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1vw;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .cards {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
  }
}

.left_cards,
.right_cards {
  display: flex;
  gap: 10px;
}

/* .table {
} */
