.card_ground {
  display: flex;
  background-color: #333333;
  min-width: 160px;
  max-width: 220px;
  flex: 1 1 180px;
  height: 90px;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 14px;
  box-sizing: border-box;
  justify-content: space-between;
}

.card_content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.card_icon {
  width: 19px;
  height: 19px;
  flex-shrink: 0;
  color: #727272;
}

.card_title {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  margin: 0;
  color: #727272;
}

.card_main_text {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
  line-height: 1;
  margin: 0;
}

.card_status {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  flex-shrink: 0;
  margin-left: 10px;
}

.card_critical,
.card_major,
.card_warning,
.card_closed {
  width: 19px;
  height: 19px;
  border-radius: 50%;
}

.card_critical {
  background-color: #ff4c4c;
}

.card_major {
  background-color: #ff9800;
}

.card_warning {
  background-color: #ffcc00;
}

.card_closed {
  background-color: #4cd964;
}
