.small {
  min-width: 100px;
}

.medium {
  min-width: 120px;
}

.large {
  min-width: 170px;
}

.card_ground {
  display: flex;
  background-color: #333333;

  max-width: 220px;
  flex: 1 1 180px;
  height: 90px;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 14px;
  box-sizing: border-box;
  justify-content: space-between;
}

.card_ground_big {
  display: flex;
  background-color: #333333;
  min-width: 160px;
  max-width: 220px;
  min-height: 160px;
  max-height: 220px;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 14px;
  box-sizing: border-box;
  justify-content: space-between;
}

.card_content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.card_content_big {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
}

.card_icon {
  width: 19px;
  height: 19px;
  flex-shrink: 0;
  color: #bdbdbd;
}

.card_title {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  margin: 0;
  color: #bdbdbd;
}

.card_main_text {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
  line-height: 1;
  margin: 0;
}

.card_status {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  flex-shrink: 0;
  margin-left: 10px;
}
